body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
.container-form {
  background-color: rgba(141, 168, 190, 0.205);
  margin: auto;
  padding: 20px;
  max-width: 550px;
  height: 150px;
  margin-top: 30px;
  border-top: solid 10px rgb(85, 163, 216);
  border-radius: 5px;
  margin-top: 5px;

}
.form-fields {
  background-color: rgba(141, 168, 190, 0.205);
  margin: auto;
  max-width: 550px;
  height: 70px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}
.form-fields-inputs {
  background-color: rgba(141, 168, 190, 0.205);
  margin: auto;
  max-width: 550px;
  height: 150px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}

.form2-fields-inputs {
  background-color: rgba(141, 168, 190, 0.205);
  margin: auto;
  max-width: 530px;
  height: 80px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 30px;
}
h3 {
  margin: 0;
  text-align: center;
}
span {
  color: red;
}
input {
  background-color: transparent;
  border: none;
  width: 400px;
  outline-style: none;
  border-bottom: solid 1px rgba(160, 160, 157, 0.486);
  box-shadow: rgba(0, 0, 0, 0.014) 0px 4px 6px -1px, rgba(0, 0, 0, 0.007) 0px 2px 4px -1px;
  border-radius: 10px;
  margin-left: 20px;
  padding-top: 10px;

}

.check-box{

  width: 100px;
  height: 20px;
  width: 20px;
  margin-left: 20px;

}

.btn {
  display: flex;
  background-color: rgb(80, 146, 245);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  padding-bottom: 10px;
  border: none;
  width: 100px;
  height: 4vh;
  border-radius: 5px;
  margin-left: 450px;
  margin-bottom: 40px;
}
